.about {
    box-shadow: 1px 1px 5px 1px rgb(156, 156, 156);
    background-color: #ffffff;
    /* box-sizing: border-box; */
}

.fields p {
    /* color: black; */
    font-size: 15px;
}

.fields div {
    width: 100%;
    margin-block: 15px;
}

.questions {
    background-color: #c5c5c5;
    font-weight: 600;
    padding: 10px;
    color: rgb(51, 51, 51);
    border-radius: 6px;
    width: 210px;
    /* height: 40px; */
    /* border: 1px solid transparent; */
    /* bg-zinc-300 p-2 font-semibold text-zinc-800 rounded-md w-[220px] */
}

.answers {
    background-color: #c7c7c7;
    /* border: 2px solid #181818; */
    font-weight: 700;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    width: 250px;
    /* box-shadow: 1px 1px 5px 2px rgb(156, 156, 156); */
    /* border: 1px solid transparent; */
    /* bg-zinc-800 text-white p-2 rounded-md w-[220px] */
}

.inputs {
    /* background-color: #3b3b3b; */
    background-color: #c2c2c2;
    outline: none;
    /* border: 1px solid #b3b3b3; */
    font-weight: normal;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    width: 250px;
    height: 40px;
    /* box-shadow: 1px 1px 5px 2px rgb(156, 156, 156); */
}
.inputs::placeholder{
    color: rgb(0, 0, 0);
}