/* .commentBoxMain{
    background-color: #ffffffcb;
   
} */
.innerCommentBox {
    box-shadow: 1px 1px 5px 2px rgb(139, 139, 139);
    background-color: #f2f2f2;
}

.commentheading {
    /* font-family: "Sriracha", cursive; */
    /* font-weight: 400; */
    /* font-style: normal; */
}

.commentContent {
    word-wrap: break-word;
    /* font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    letter-spacing: 3px; */
    /* font-weight: ; */
    /* font-style: normal; */
}

.round {
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border-right: 5px solid rgb(47, 0, 255);
    border-bottom: 5px solid rgb(47, 0, 255);
    border-left: 5px solid rgb(47, 0, 255);
    border-top: 6px solid rgb(255, 255, 255);
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .usersComment::-webkit-scrollbar {
    width: 8px;
  }
  
  .usersComment::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  } */
/* .usersComment::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
} */

.bgLightGrey {
    /* background-color: #e30000; */
    box-shadow: 5px 1px 5px 2px rgb(130, 130, 130);
}

.commentEditDropdown {
    box-shadow: 1px 1px 10px 2px rgb(130, 130, 130);
}

.commentContentBg {
    background-color: #dadada38;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px rgb(130, 130, 130);
}
/* .commentContentBg {
    background-color: #c7cfd155;
    border-radius: 20px;
} */