.topbar {
    padding-inline: 10px;
    padding-block: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 65px; */
    background-color: #ffffff;
    position: sticky;
    top: 0;

}

.topBox {
    position: relative;
    font-family: Roboto;
    width: 100vw;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* box-sizing: border-box; */
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 999; */
    /* border: 5px solid red; */
}
.topbarRightProfilePic:hover{
    box-shadow: 1px 1px 3px 4px rgb(225, 225, 225);
}

.search {
    background-color: #ffffff;
    /* background-color: #000000; */
    /* border: none; */
    /* width: 15vw; */
    height: 40px;
    border-radius: 10px;
    /* padding-left: 15px; */
    font-size: 16px;
    outline: none;
    color: black;
    margin-left: 10px;
    box-shadow: 1px 1px 5px 4px rgba(169, 169, 169, 0.433);
    /* border: 5px solid red; */
}

.searchIcon {
    /* position: absolute;
    left: 73px;
    top: 17px; */
    /* color: #000000; */
    /* background-color: #000000; */
    color: #484848;
    /* border: 5px solid red; */
    /* color: #6A0DAD; */
    /* padding: 5px; */
}

.searchInput {
    background-color: #ececec;
    /* border: none; */
    /* border: 5px solid blue; */
    width: 18vw;
    height: 38px;
    border-radius: 30px;
    padding-left: 40px;
    font-size: 16px;
    outline: none;
    color: black;
    transition: 0.2s;

    /* margin-left: 10px; */
}
.searchInput::placeholder{
    color: #565556;
}
.searchInput:hover{
    background-color: #dfdfdf;
}

.middle {
    /* width: 750px; */
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    padding-right: 10px;
    /* position: absolute;
    left: 30%; */
}

.middlebox div {
    cursor: pointer;
    /* background-color: #efefefcc; */
    /* padding: 8px 25px; */
    border-radius: 10px;
    /* margin-right: 20px; */
    transition: 0.1s;
    /* border-bottom: 5px solid transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #7b02d277; */
    /* margin-top: 40px; */
    /* position: relative; */
    /* z-index: 100; */
}

.middlebox h3 {
    position: absolute;
    top: 50px;
    z-index: 50;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    font-size: 13px;
    border-radius: 10px;
    padding: 7px 10px;
    /* margin-top: 20px; */
}

.middlebox div:hover {
    /* border-bottom: 5px solid ; */
    background-color: #efefefcc;
}

.middlebox {
    /* position: absolute; */
    /* top: 10px;
    left: 550px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 25vw; */
    /* font-size: 20px; */
    /* border: 2px solid; */
    /* color: #7b02d2; */
}

/* color: #6A0DAD; */
.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 150px; */

    /* position: relative; */
}

.dropdown {
    /* margin-right: 10px; */
    /* font-size: 25px; */
    /* margin-top: 6%; */
    color: #6A0DAD;
    /* width: 41px;
    height: 41px; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}


.notificationIcon {
    color: #6A0DAD;
    /* margin-right: 10px; */
    /* font-size: 22px; */
    /* margin-top: 8px; */
    /* background-color: rgb(222, 222, 222); */
    /* padding: 10px; */

    /* border-radius: 100%; */
    /* border: 2px solid red; */
}

.notification h3 {
    position: absolute;
    top: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    font-size: 13px;
    border-radius: 10px;
    padding: 7px 10px;
}

.notification {
    
    background-color: #ededed;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* position: relative; */
    /* border: 2px solid red; */
}